body {
  color: #2c3e50;
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-family: Arial, sans-serif;
}

.blog-post-card {
  background: white;
  border-radius: 15px;
  width: 100%;
  text-align: center;
}

.post-content {
  padding: 10px;
}

.read-more:hover {
  color: #fff;
  background-color: #0056b3;
}
.read-more {
  color: #fff;
  background-color: #007bff;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
}

.post-img {
  width: 100%;
  border-bottom: 3px solid black;
}

.post-title {
  width: 100%;
  margin: 10px;
  color: #34495e;
}

.post-excerpt {
  margin: 20px;
  color: #7f8c8d;
}
